/* Clients section */

.clients-list {
    // display: flex;
    // justify-content: space-between;

    &-item {
        display: flex;
        justify-content: center;
        width: 170px;
        height: 90px;
        text-align: center;
    }
}

.clients-list-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    fill: $primary-icon-color;

    border: 1px solid $primary-icon-color;
    box-sizing: border-box;
    border-radius: 4px;

    transition: border-color $transition-time $cubic-bezier,
        fill $transition-time $cubic-bezier;

    &:hover,
    &:focus {
        border-color: $accent-color;
        fill: $accent-color;
    }
}