.features-list-item {
    &-title {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        color: $primary-title-text-color;
    }

    &-desc {
        font-weight: 400;
        line-height: 1.71;
    }

    .img-wrapper {
        text-align: center;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-bottom: 30px;

        background-color: $secondary-bg-color;
        border-radius: 4px;
    }
}

@media screen and (max-width: 767px) {
    .features-list-item {
        max-width: 450px;

        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    .features-list-item-title {
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .features-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .features-list-item {
        width: calc(50% - 15px);
    }

    .features-list-item:nth-child(-n + 2) {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .features-list-item {
        width: 270px;
    }

    .features-list-item:not(:last-child) {
        margin-right: 30px;
        margin-bottom: 0;
    }
}