/* FOOTER */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: #2f303a;

    &-list {
        margin-top: 20px;
    }

    &-list-item {
        display: block;
        margin-bottom: 8px;
    }
}


.footer-list-item-link {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);

    .address {
        color: $secondary-title-text-color;
    }
}

.join,
.subscribe-title {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;

    color: $secondary-title-text-color;
}



.subscribe {
    display: block;

    &-mail {
        width: 358px;
        height: 50px;
        padding-top: 15px;
        padding-right: 16px;
        padding-bottom: 15px;
        padding-left: 16px;

        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);

        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: transparent;
    }

    &-icon {
        margin-left: 10px;
    }
}

@media screen and (max-width: 767px) {
    .footer-list {
        margin-bottom: 60px;
    }

    .subscribe {
        margin-top: 60px;
    }

    .subscribe-mail {
        width: 100%;
    }
}

@media screen and (max-width: 1199px) {

    .footer {
        text-align: center;
    }

    .subscribe-mail {
        // width: 450px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 768px) {
    .footer-contact-wrapper {
        display: flex;
        align-items: baseline;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer-contact-wrapper {
        justify-content: space-between;
        padding-left: 76px;
        padding-right: 89px;
        margin-bottom: 60px;
    }
}

@media screen and (min-width: 1200px) {
    .footer-container {
        display: flex;
        align-items: baseline;
    }

    .footer-list-item {
        margin-bottom: 9px;
    }

    .address-wrapper {
        margin-right: 69px;
    }

    .subscribe {
        display: block;
        margin-left: auto;

        &-form {
            display: inline-flex;
            align-items: center;
            margin-left: auto;
        }

        &-mail {
            margin-right: 12px;
        }
    }
}