/* HERO section*/

.hero {
    text-align: center;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.8),
            rgba(47, 48, 58, 0.8)),
        url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(47, 48, 58, 0.8);

    &-section {
        padding-top: 118px;
        padding-bottom: 118px;
    }

    &-title {
        margin-bottom: 30px;

        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $secondary-title-text-color;
    }
}

@media screen and (min-width:1200px) {
    .hero-section {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .hero-title {
        font-size: 44px;
        line-height: 1.36;
    }
}

@media screen and (max-width:767px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.8),
                rgba(47, 48, 58, 0.8)),
            url(../../images/hero-bg/mobile/hero-bg.jpg);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width:767px),
screen and (-webkit-min-device-pixel-ratio: 2) and (max-width:767px),
screen and (-o-min-device-pixel-ratio: 2/1) and (max-width:767px),
screen and (min-resolution: 192dpi) and (max-width:767px),
screen and (min-resolution: 2dppx) and (max-width:767px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.8),
                rgba(47, 48, 58, 0.8)),
            url(../../images/hero-bg/mobile/hero-bg@2x.jpg);
    }
}

@media screen and (min-width:768px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.8),
                rgba(47, 48, 58, 0.8)),
            url(../../images/hero-bg/tablet/hero-bg.jpg);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width:768px),
screen and (-webkit-min-device-pixel-ratio: 2) and (min-width:768px),
screen and (-o-min-device-pixel-ratio: 2/1) and (min-width:768px),
screen and (min-resolution: 192dpi) and (min-width:768px),
screen and (min-resolution: 2dppx) and (min-width:768px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.8),
                rgba(47, 48, 58, 0.8)),
            url(../../images/hero-bg/tablet/hero-bg@2x.jpg);
    }
}

@media screen and (min-width:1200px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.8),
                rgba(47, 48, 58, 0.8)),
            url(../../images/hero-bg/desktop/hero-bg.jpg);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width:1200px),
screen and (-webkit-min-device-pixel-ratio: 2) and (min-width:1200px),
screen and (-o-min-device-pixel-ratio: 2/1) and (min-width:1200px),
screen and (min-resolution: 192dpi) and (min-width:1200px),
screen and (min-resolution: 2dppx) and (min-width:1200px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.8),
                rgba(47, 48, 58, 0.8)),
            url(../../images/hero-bg/desktop/hero-bg@2x.jpg);
    }
}