/* LOGO */
.logo {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.166;
    color: $accent-color;

    &-studio-color {
        color: #000000;
    }

    &-studio-color.white {
        color: $secondary-title-text-color;
    }

    .header & {
        padding-top: 16px;
        padding-bottom: 16px;

        @media screen and (min-width: 768px) {
            padding-top: 26px;
            padding-bottom: 26px;
        }

        @media screen and (min-width: 1200px) {
            padding-top: 26px;
            padding-bottom: 26px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .logo {
        font-size: 26px;
        line-height: 1.19;
    }
}