/* LOGO */
.logo {
    // display: block;
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.166;
    color: $accent-color;

    &-studio-color {
        color: #000000;
    }

    &-studio-color.white {
        color: $secondary-title-text-color;
    }

    .header & {
        // margin-right: 85px;
        padding-top: 16px;
        padding-bottom: 16px;

        @media screen and (min-width: 768px) {
            padding-top: 26px;
            padding-bottom: 26px;
        }

        @media screen and (min-width: 1200px) {
            padding-top: 26px;
            padding-bottom: 26px;
        }
    }

    // .footer & {
    //     display: block;
    //     margin-bottom: 20px;
    // }
}

@media screen and (min-width: 1200px) {
    .logo {
        font-size: 26px;
        line-height: 1.19;
    }
}

// position: absolute;
// width: 141px;
// height: 28px;
// left: 15px;
// top: 16px;

// font-family: Raleway;
// font-style: normal;
// font-weight: bold;
// font-size: 24px;
// line-height: 28px;
// letter-spacing: 0.03em;

// color: #2196F3;


// position: absolute;
// width: 141px;
// height: 28px;
// left: 15px;
// top: 26px;

// font-family: Raleway;
// font-style: normal;
// font-weight: bold;
// font-size: 24px;
// line-height: 28px;
// letter-spacing: 0.03em;

// color: #2196F3;

// position: absolute;
// width: 153px;
// height: 31px;
// left: 215px;
// top: 24px;

// font-family: Raleway;
// font-style: normal;
// font-weight: bold;
// font-size: 26px;
// line-height: 31px;
// /* identical to box height */

// letter-spacing: 0.03em;

// color: #2196F3;