.section {
    padding-top: 60px;
    padding-bottom: 60px;

    &.team {
        background-color: $secondary-bg-color;
    }
}

.section-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.166;
    text-align: center;
    color: $primary-title-text-color;
}

@media screen and (min-width: 1200px) {
    .section {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    .section-title {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.178;
    }
}