.section {
    padding-top: 94px;
    padding-bottom: 94px;

    &.team {
        background-color: $secondary-bg-color;
    }
}

.section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: $primary-title-text-color;
}