/* Gallery */

.portfolio-works-list {
    display: flex;
    flex-wrap: wrap;

    &-item {
        width: 370px;
    }
}

.portfolio-img-wrapper {
    display: flex;
    position: relative;
    overflow: hidden;
}

.portfolio-works-list-item {
    &:not(:nth-child(3n)) {
        margin-right: 30px;
    }

    &:not(:nth-last-child(-n + 3)) {
        margin-bottom: 30px;
    }
}

.portfolio-works-list-item-link {
    display: block;
    background: #ffffff;
    outline: 1px solid #eeeeee;
    transition: box-shadow $transition-time $cubic-bezier;

    &:hover,
    &:focus {
        outline: none;
        box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            0px 1px 1px rgba(0, 0, 0, 0.12);
    }

    .title {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: $primary-title-text-color;
    }

    .subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.87;
        color: $primary-text-color;
    }
}

.portfolio-works-list-item-link-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(100%);
    transition: transform $transition-time $cubic-bezier,
        opacity $transition-time $cubic-bezier;

    padding-top: 63px;
    padding-right: 24px;
    padding-bottom: 63px;
    padding-left: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: $secondary-title-text-color;
    background-color: rgba(33, 150, 243, 0.9);

    .portfolio-works-list-item-link:hover &,
    .portfolio-works-list-item-link:focus & {
        transform: translateY(0);
        opacity: 1;
    }
}

.desc-wrapper {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
}